mongodb:
  enabled: true
  auth:
    enabled: false
  image:
    tag: "latest"         
  persistence:
    enabled: false         
  arbiter:
    enabled: false


amf:
  enabled: true
ausf:
  enabled: true
bsf:
  enabled: true
nrf:
  enabled: true
nssf:
  enabled: true
pcf:
  enabled: true
  mongodb:
    enabled: false
scp:
  enabled: true
  mongodb:
    enabled: false
udm:
  enabled: true
udr:
  enabled: true

upf:
  enabled: true
  ip_forwarding: true     

smf:
  enabled: true
  config:
    pcrf:
      enabled: true        

hss:
  enabled: false
mme:
  enabled: false
sgwc:
  enabled: false
sgwu:
  enabled: false

pcrf:
  enabled: true            

webui:
  enabled: true            
global:
  image:
    pullPolicy: IfNotPresent
